[submodule "lib/CircularBuffer"]
	path = lib/CircularBuffer
	url = https://github.com/rlogiacco/CircularBuffer.git
[submodule "lib/RS-232"]
	path = lib/RS-232
	url = https://gitlab.com/Teuniz/RS-232.git
[submodule "lib/etl"]
	path = lib/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "lib/iso15765-canbus"]
	path = lib/iso15765-canbus
	url = git@github.com:tyllj/iso15765-canbus.git
